@import '@fontsource/fira-mono';
@import 'reset.css';
@import './lib/styles/tokens.css';

:global(body) {
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
}

.main,
:global([class^="s-"]) {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
}

:root {
	font-family: var(--font-body);
	color: var(--color-text-primary);
	font-size: var(--font-size-fluid);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-layer-1);
	background-size: 100vw 100vh;
	background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(180deg, var(--color-bg-layer-0) 0%, var(--color-bg-layer-1) 15%, var(--color-bg-layer-2) 50%);
}